@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Lora:ital@0;1&family=Poppins:wght@300;400&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
html, body, section {
  block-size: 100%;
}

html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  
  display: flex;
  align-items: center;
  justify-content: center;
}



body {
  margin: 0;
  background-color: #f8ad9d;
}
.backgrnd-img
{
  background-image: url(./pexels-rovenimagescom-949587.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Set the height to cover the entire viewport */
  display: flex;
  align-items: center;
  justify-content: center;
}
section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
  min-height: 100vh;
}

.hiddenimg {
  width: 300px;
  border-radius: 10px;
  margin-top: 50px;
  transition: 0.8s ease;
}

.hiddenimg:hover {
  margin-bottom: 20px;
  box-shadow: 12px 12px #07072c;
}

.darkestPeach {
  background-color: #f08080;
  font-family: "Poppins", sans-serif;
  color: antiquewhite;
}

.darkPeach {
  background-color: #f4978e;
}

.Peach {
  background-color: #f8ad9d;
  display: grid;
  grid-template-columns: 40% auto;
}

.lightPeach {
  background-color: #f7dba7;
  color: White;
  font-family: "Poppins", sans-serif;
}
.lightPeach p{
  font-size: 18px;
  margin: 15px;
}
.awards:hover {
  margin-bottom: 20px;
  box-shadow: 12px 12px wheat;
}

.gray {
  font-family: "Poppins", sans-serif;
}

.whitePeach {
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: 50% 50%;
  font-family: "Poppins", sans-serif;
  word-wrap: break-word;
  justify-content: space-between;
  align-content: center;
}

.hidden {
  opacity: 0;
  transition: all 1s;
  filter: opacity(0);
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: opacity(100%);
  transform: translateX(0);
}

.show1
{
  transform: translate(-100%);
}
@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

span {
  font-family: "Lobster", cursive;
}

.final {
  gap: 1rem;
  font-family: "Dancing Script", cursive;
  background-image: url("./drawing.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Set the height to cover the entire viewport */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.move {
  margin-right: 1000px;
}


span {
  text-transform: uppercase;
}

.container-b {
  width: 800px;
  height: 90%;
  padding: 10px;
  margin: 0 auto;
  position: relative;
}

.balloon {
  width: 738px;
  margin: 0 auto;
  padding-top: 60px;
  position: relative;
}

.balloon>div {
  width: 104px;
  height: 140px;
  background: rgba(182, 15, 97, 0.9);
  border-radius: 0;
  border-radius: 80% 80% 80% 80%;
  margin: 0 auto;
  position: absolute;
  padding: 10px;
  box-shadow: inset 17px 7px 10px rgba(182, 15, 97, 0.9);
  -webkit-transform-origin: bottom center;
}

.balloon>div:nth-child(1) {
  background: rgba(182, 15, 97, 0.9);
  left: 0;
  box-shadow: inset 10px 10px 10px rgba(135, 11, 72, 0.9);
  -webkit-animation: balloon1 6s ease-in-out infinite;
  -moz-animation: balloon1 6s ease-in-out infinite;
  -o-animation: balloon1 6s ease-in-out infinite;
  animation: balloon1 6s ease-in-out infinite;
}

.balloon>div:nth-child(1):before {
  color: rgba(182, 15, 97, 0.9);
}

.balloon>div:nth-child(2) {
  background: rgba(242, 112, 45, 0.9);
  left: 120px;
  box-shadow: inset 10px 10px 10px rgba(222, 85, 14, 0.9);
  -webkit-animation: balloon2 6s ease-in-out infinite;
  -moz-animation: balloon2 6s ease-in-out infinite;
  -o-animation: balloon2 6s ease-in-out infinite;
  animation: balloon2 6s ease-in-out infinite;
}

.balloon>div:nth-child(2):before {
  color: rgba(242, 112, 45, 0.9);
}

.balloon>div:nth-child(3) {
  background: rgba(45, 181, 167, 0.9);
  left: 240px;
  box-shadow: inset 10px 10px 10px rgba(35, 140, 129, 0.9);
  -webkit-animation: balloon4 6s ease-in-out infinite;
  -moz-animation: balloon4 6s ease-in-out infinite;
  -o-animation: balloon4 6s ease-in-out infinite;
  animation: balloon4 6s ease-in-out infinite;
}

.balloon>div:nth-child(3):before {
  color: rgba(45, 181, 167, 0.9);
}

.balloon>div:nth-child(4) {
  background: rgba(190, 61, 244, 0.9);
  left: 360px;
  box-shadow: inset 10px 10px 10px rgba(173, 14, 240, 0.9);
  -webkit-animation: balloon1 5s ease-in-out infinite;
  -moz-animation: balloon1 5s ease-in-out infinite;
  -o-animation: balloon1 5s ease-in-out infinite;
  animation: balloon1 5s ease-in-out infinite;
}

.balloon>div:nth-child(4):before {
  color: rgba(190, 61, 244, 0.9);
}

.balloon>div:nth-child(5) {
  background: rgba(180, 224, 67, 0.9);
  left: 480px;
  box-shadow: inset 10px 10px 10px rgba(158, 206, 34, 0.9);
  -webkit-animation: balloon3 5s ease-in-out infinite;
  -moz-animation: balloon3 5s ease-in-out infinite;
  -o-animation: balloon3 5s ease-in-out infinite;
  animation: balloon3 5s ease-in-out infinite;
}

.balloon>div:nth-child(5):before {
  color: rgba(180, 224, 67, 0.9);
}

.balloon>div:nth-child(6) {
  background: rgba(242, 194, 58, 0.9);
  left: 600px;
  box-shadow: inset 10px 10px 10px rgba(234, 177, 15, 0.9);
  -webkit-animation: balloon2 3s ease-in-out infinite;
  -moz-animation: balloon2 3s ease-in-out infinite;
  -o-animation: balloon2 3s ease-in-out infinite;
  animation: balloon2 3s ease-in-out infinite;
}

.balloon>div:nth-child(6):before {
  color: rgba(242, 194, 58, 0.9);
}

.balloon>div:before {
  color: rgba(182, 15, 97, 0.9);
  position: absolute;
  bottom: -11px;
  left: 52px;
  content: "▲";
  font-size: 1em;
}

span {
  font-size: 4.8em;
  color: white;
  position: relative;
  top: 30px;
  left: 50%;
  margin-left: -27px;
}

/*BALLOON 1 4*/
@-webkit-keyframes balloon1 {

  0%,
  100% {
    -webkit-transform: translateY(0) rotate(-6deg);
  }

  50% {
    -webkit-transform: translateY(-20px) rotate(8deg);
  }
}

@-moz-keyframes balloon1 {

  0%,
  100% {
    -moz-transform: translateY(0) rotate(-6deg);
  }

  50% {
    -moz-transform: translateY(-20px) rotate(8deg);
  }
}

@-o-keyframes balloon1 {

  0%,
  100% {
    -o-transform: translateY(0) rotate(-6deg);
  }

  50% {
    -o-transform: translateY(-20px) rotate(8deg);
  }
}

@keyframes balloon1 {

  0%,
  100% {
    transform: translateY(0) rotate(-6deg);
  }

  50% {
    transform: translateY(-20px) rotate(8deg);
  }
}

/* BAllOON 2 5*/
@-webkit-keyframes balloon2 {

  0%,
  100% {
    -webkit-transform: translateY(0) rotate(6eg);
  }

  50% {
    -webkit-transform: translateY(-30px) rotate(-8deg);
  }
}

@-moz-keyframes balloon2 {

  0%,
  100% {
    -moz-transform: translateY(0) rotate(6deg);
  }

  50% {
    -moz-transform: translateY(-30px) rotate(-8deg);
  }
}

@-o-keyframes balloon2 {

  0%,
  100% {
    -o-transform: translateY(0) rotate(6deg);
  }

  50% {
    -o-transform: translateY(-30px) rotate(-8deg);
  }
}

@keyframes balloon2 {

  0%,
  100% {
    transform: translateY(0) rotate(6deg);
  }

  50% {
    transform: translateY(-30px) rotate(-8deg);
  }
}

/* BAllOON 0*/
@-webkit-keyframes balloon3 {

  0%,
  100% {
    -webkit-transform: translate(0, -10px) rotate(6eg);
  }

  50% {
    -webkit-transform: translate(-20px, 30px) rotate(-8deg);
  }
}

@-moz-keyframes balloon3 {

  0%,
  100% {
    -moz-transform: translate(0, -10px) rotate(6eg);
  }

  50% {
    -moz-transform: translate(-20px, 30px) rotate(-8deg);
  }
}

@-o-keyframes balloon3 {

  0%,
  100% {
    -o-transform: translate(0, -10px) rotate(6eg);
  }

  50% {
    -o-transform: translate(-20px, 30px) rotate(-8deg);
  }
}

@keyframes balloon3 {

  0%,
  100% {
    transform: translate(0, -10px) rotate(6eg);
  }

  50% {
    transform: translate(-20px, 30px) rotate(-8deg);
  }
}

/* BAllOON 3*/
@-webkit-keyframes balloon4 {

  0%,
  100% {
    -webkit-transform: translate(10px, -10px) rotate(-8eg);
  }

  50% {
    -webkit-transform: translate(-15px, 20px) rotate(10deg);
  }
}

@-moz-keyframes balloon4 {

  0%,
  100% {
    -moz-transform: translate(10px, -10px) rotate(-8eg);
  }

  50% {
    -moz-transform: translate(-15px, 10px) rotate(10deg);
  }
}

@-o-keyframes balloon4 {

  0%,
  100% {
    -o-transform: translate(10px, -10px) rotate(-8eg);
  }

  50% {
    -o-transform: translate(-15px, 10px) rotate(10deg);
  }
}

@keyframes balloon4 {

  0%,
  100% {
    transform: translate(10px, -10px) rotate(-8eg);
  }

  50% {
    transform: translate(-15px, 10px) rotate(10deg);
  }
}

.hidden h1 {
  position: relative;
  top: 200px;
  text-align: center;
  color: white;
  font-size: 3.5em;
}
 .container-b h1{
  position: relative;
  top: 200px;
  text-align: center;
  color: white;
  font-size: 3.5em;
 }







label {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 280px;
  height:350px;
  perspective: 1000px;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.flip-card {
  margin-left:30% ;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.flip-card .front,
.flip-card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  backface-visibility: hidden;
  border-radius: 0 20px 0 20px;
}
.flip-card .back {
  transform: rotateX(180deg);
  color: #000;
  background:linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

label:hover .flip-card {
  transform: rotateX(2deg);
  box-shadow: 0 20px 20px rgba(50, 60,60, 0.2);
}

input {
  display: none;
}
:checked + .flip-card {
  transform: rotateX(180deg);
}
label:hover :checked + .flip-card {
  transform: rotateX(175deg);
  box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
}

.front h1 {
  font-size: 30px;
  color: #499bef;
  margin: 0;
}
.front h2{
  font-size: 28px;
  color: 4e699d;
  margin: 12px 0 12px 0;
}

.front b {
  font-size: 14px;
  color: #424752;
  margin: 0 0 35px 0;
  display: block;
  
}

.front p,
.back, .click {
  font-size: 18px;
  font-weight: 600;
}

.back h1 {
  color: #424752;
  margin: 30px 0 0 0;
}
hr {
  width: 180px;
  margin: 5px auto 8px auto;
}

.back p {
  font-size: 16px;
  color: #000;
  padding: 0 18px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
}

.box {
  position: relative;
}
.box::before {
  content: "";
  width: 440px;
  height: 440px;
  background-color: #89cff0;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}
.box-body {
  position: relative;
  height: 200px;
  width: 200px;
  margin-top: 123.3333333333px;
  background-color: #cc231e;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
  background: linear-gradient(#762c2c,#ff0303);
}
.box-body .img{
  opacity: 0;
  transform: translateY(0%);
  transition: all 0.5s;
  margin: 0 auto;
  display: block;
}
.box-body:hover {
  cursor: pointer;
  -webkit-animation: box-body 1s forwards ease-in-out;
          animation: box-body 1s forwards ease-in-out;
}
.box-body:hover .img{
  opacity: 1;
  z-index: 0;
  transform: translateY(-157px);


   
}
.box-body:hover .box-lid {
  -webkit-animation: box-lid 1s forwards ease-in-out;
          animation: box-lid 1s forwards ease-in-out;
}
.box-body:hover .box-bowtie::before {
  -webkit-animation: box-bowtie-left 1.1s forwards ease-in-out;
          animation: box-bowtie-left 1.1s forwards ease-in-out;
}
.box-body:hover .box-bowtie::after {
  -webkit-animation: box-bowtie-right 1.1s forwards ease-in-out;
          animation: box-bowtie-right 1.1s forwards ease-in-out;
}
.box-body::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  background: linear-gradient(#ffffff,#ffefa0)
}
.box-lid {
  position: absolute;
  z-index: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 90%;
  height: 40px;
  background-color: #cc231e;
  height: 40px;
  width: 220px;
  border-radius: 5%;
  box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.3);
}
.box-lid::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  background: linear-gradient(#ffefa0,#fff)
}
.box-bowtie {
  z-index: 1;
  height: 100%;
}
.box-bowtie::before, .box-bowtie::after {
  content: "";
  width: 83.3333333333px;
  height: 83.3333333333px;
  border: 16.6666666667px solid white;
  border-radius: 50% 50% 0 50%;
  position: absolute;
  bottom: 99%;
  z-index: -1;
}
.box-bowtie::before {
  left: 50%;
  -webkit-transform: translateX(-100%) skew(10deg, 10deg);
          transform: translateX(-100%) skew(10deg, 10deg);
}
.box-bowtie::after {
  left: 50%;
  -webkit-transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
          transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
}

@-webkit-keyframes box-lid {
  0%,
  42% {
    -webkit-transform: translate3d(-50%, 0%, 0) rotate(0deg);
            transform: translate3d(-50%, 0%, 0) rotate(0deg);
  }
  60% {
    -webkit-transform: translate3d(-85%, -230%, 0) rotate(-25deg);
            transform: translate3d(-85%, -230%, 0) rotate(-25deg);
  }
  90%, 100% {
    -webkit-transform: translate3d(-119%, 225%, 0) rotate(-70deg);
            transform: translate3d(-119%, 225%, 0) rotate(-70deg);
  }
}

@keyframes box-lid {
  0%,
  42% {
    -webkit-transform: translate3d(-50%, 0%, 0) rotate(0deg);
            transform: translate3d(-50%, 0%, 0) rotate(0deg);
  }
  60% {
    -webkit-transform: translate3d(-85%, -230%, 0) rotate(-25deg);
            transform: translate3d(-85%, -230%, 0) rotate(-25deg);
  }
  90%, 100% {
    -webkit-transform: translate3d(-119%, 225%, 0) rotate(-70deg);
            transform: translate3d(-119%, 225%, 0) rotate(-70deg);
  }
}
@-webkit-keyframes box-body {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0) rotate(0deg);
            transform: translate3d(0%, 0%, 0) rotate(0deg);
  }
  25% {
    -webkit-transform: translate3d(0%, 25%, 0) rotate(20deg);
            transform: translate3d(0%, 25%, 0) rotate(20deg);
  }
  50% {
    -webkit-transform: translate3d(0%, -15%, 0) rotate(0deg);
            transform: translate3d(0%, -15%, 0) rotate(0deg);
  }
  70% {
    -webkit-transform: translate3d(0%, 0%, 0) rotate(0deg);
            transform: translate3d(0%, 0%, 0) rotate(0deg);
  }
}
@keyframes box-body {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0) rotate(0deg);
            transform: translate3d(0%, 0%, 0) rotate(0deg);
  }
  25% {
    -webkit-transform: translate3d(0%, 25%, 0) rotate(20deg);
            transform: translate3d(0%, 25%, 0) rotate(20deg);
  }
  50% {
    -webkit-transform: translate3d(0%, -15%, 0) rotate(0deg);
            transform: translate3d(0%, -15%, 0) rotate(0deg);
  }
  70% {
    -webkit-transform: translate3d(0%, 0%, 0) rotate(0deg);
            transform: translate3d(0%, 0%, 0) rotate(0deg);
  }
}
@-webkit-keyframes box-bowtie-right {
  0%,
  50%,
  75% {
    -webkit-transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
            transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
  }
  90%,
  100% {
    -webkit-transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
            transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.3);
  }
}
@keyframes box-bowtie-right {
  0%,
  50%,
  75% {
    -webkit-transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
            transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
  }
  90%,
  100% {
    -webkit-transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
            transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.3);
  }
}
@-webkit-keyframes box-bowtie-left {
  0% {
    -webkit-transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
            transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
  }
  50%,
  75% {
    -webkit-transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
            transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
  }
  90%,
  100% {
    -webkit-transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
            transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
  }
}
@keyframes box-bowtie-left {
  0% {
    -webkit-transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
            transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
  }
  50%,
  75% {
    -webkit-transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
            transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
  }
  90%,
  100% {
    -webkit-transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
            transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
  }
}

.gallery {
  --s: 130px; /* control the size of the images*/
  
  display: grid;
  gap: 5px;
  position: relative;
}
.gallery input {
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  inset: calc(50% - var(--s)/3);
  cursor: pointer;
  --g: linear-gradient(#fff 0 0) no-repeat;
  background: var(--g) 50%/60% 3px,var(--g) 50%/3px 60%,#222;
  transition: 1.5s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.gallery > img {
  width: var(--s);
  aspect-ratio: 1;
  grid-area: 1/1;
  border-radius: 50%;
  object-fit: cover;
  transform: scale(.5);
  transition: 1s calc((var(--i) - 1)*.1s);
}
.gallery > img:nth-of-type(1) {--i:1;}
.gallery > img:nth-of-type(2) {--i:2;}
.gallery > img:nth-of-type(3) {--i:3;}
.gallery > img:nth-of-type(4) {--i:4;}
.gallery > img:nth-of-type(5) {--i:5;}
.gallery > img:nth-of-type(6) {--i:6;}
.gallery > img:nth-of-type(7) {--i:7;}
.gallery > img:nth-of-type(8) {--i:8;}
.gallery > img:nth-of-type(9) {--i:9;}

.gallery > input:checked ~ img {
  transform: 
    rotate(calc(var(--i)* 360deg/8)) translate(calc(1.5*var(--s))) 
    rotate(calc(var(--i)*-360deg/8));
}
.gallery > input:checked {
  transform: rotate(135deg)
}
.gallery > input
{
  display: block;
}
.gall{
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: #83AF9B;
}

